<ion-header >
  <ion-toolbar color='primary'>
    <ion-title>
      Coming soon... 
      <ion-select [(ngModel)]='model.to' name='to' interface="alert">
        <ion-select-option [value]=''>Everyone</ion-select-option>
        <ion-select-option *ngFor='let friend of friendsToDisplay'>{{friend.name}}</ion-select-option>
      </ion-select>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- page content -->

  <ion-card *ngFor='let message of messagesToDisplay'>
    <ion-card-header>
      <ion-card-title> {{message.text}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <img src="{{message.imageUrl}}">
      <ion-card-subtitle>from:{{message.from}}</ion-card-subtitle>
      <ion-card-subtitle>to:{{message.to}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>


  
</ion-content>
