<ion-header color='primary'>
  <ion-toolbar color='primary'>
    <ion-title>
      Manage friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- register friends -->
<ion-card>
  <ion-card-content>
      <ion-item>
        <ion-label>Add friend</ion-label>
        <ion-input [(ngModel)]='model.name'></ion-input>
      </ion-item>

      <ion-button (click)='saveFriend()' expand='block' size='large' position='floating'>Add friend  <ion-icon name="person-add-outline" class="addFriend"></ion-icon></ion-button>

      
  </ion-card-content>
</ion-card>

<!-- list my friends -->
<ion-card class="friendList">
  <h2>FRIENDS</h2>
  <ion-card-content >
    <ion-list >
      <ion-item class="friendLI" *ngFor='let friend of friendsToDisplay'>
        <ion-label ><ion-icon class="friend" name="person-outline"></ion-icon>{{ friend.name }}</ion-label>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>


</ion-content>
