ion-content{
    --background: rgb(238,121,101);
    --background: linear-gradient(0deg, rgba(238,121,101,1) 0%, rgba(239,170,132,0.6208858543417367) 13%, rgba(240,209,156,0.5340511204481793) 31%, rgba(240,233,171,0.6881127450980392) 51%, rgba(184,228,176,0.5228466386554622) 68%, rgba(113,221,183,0.5508578431372548) 90%, rgba(13,212,192,1) 100%);   
}

.addFriend{
    margin-left: 3rem;
}

.friend{
    margin-right: 1rem;
}

.friendList{
    min-height: 60%;
}

.friendLI{
    padding: 25px 10px;
}

h2{text-align: center;}